<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoyalCare Stock - Signals</title>
    {% load static %}
    <link rel="stylesheet" href="/static/search_bootstrap.css" />
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search Stocks..">
</div>
    <script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/search_bootstrap.js"></script>
</head>
<body>


{% load django_tables2 %}
{% render_table table %}
</body>
</html>