<%@page import="java.util.Date"%>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Stock Assist - Equity Prediction & Info.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/buttonClickJS.js"></script>
	</head>
	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<header id="header">
								<h1><a href="#" id="logo">Stock Assist</a></h1>
								<nav id="nav">
							<a href="index_1.html" style= "background-image:url(images/home.jpg); background-size : 100px 85px" >HOME</a>
									<a href="equity.jsp" style ="background-image:url(images/equity.jpg); background-size : 70px 70px">EQUITY</a>
									<a href="index.jsp" class="current-page-item" style ="background-image:url(images/derivative.jpg); background-size : 70px 70px">DERIVATIVES</a>
									<a href="#" style ="background-image:url(images/commodities.jpg); background-size : 80px 80px">COMMODITIES</a>
									<a href="#" style ="background-image:url(images/portfolio.jpg);background-size :140px 100px; background-repeat: no-repeat">PORTFOLIO</a>
									
									<a href="more.html" style ="background-image:url(images/more.jpg); background-size : 100px 85px">MORE</a>
												<!--  MORE -->
									
								<!-- 	<a href="twocolumn1.html">CURRENCY</a>
									<a href="twocolumn1.html">EDUCATION</a>
									<a href="twocolumn1.html">TAX GURU</a>
									<a href="twocolumn1.html">SUBSCRIBE</a>
									<a href="twocolumn1.html">CONTACT US</a>
									<a href="twocolumn1.html">ABOUT US</a>
									<a href="twocolumn1.html">DISCLAIMER</a>
									<a href="twocolumn1.html">LONG TERM(ASTROMONEY)</a> -->
									
									
									
									<!-- <a href="twocolumn2.html">Two Column #2</a> -->
									<!-- <a href="onecolumn.html">One Column</a>
									<a href="threecolumn.html">Three Column</a> -->
								</nav>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row main-row">
						<div class="8u 12u(mobile)">

							<section class="left-content">
							<!-- 	<h2>Two Column #1 (right-hand sidebar)</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante ante, viverra a ornare sed, convallis sed est. Proin felis sapien, adipiscing quis eleifend vel, sodales vitae sapien. Donec vel lacus leo, eu convallis metus. Cras egestas feugiat tortor, vitae interdum augue aliquam a. Sed nec augue id orci egestas commodo in eget magna. Nunc eleifend diam non odio laoreet placerat gravida nulla bibendum. Phasellus tempus imperdiet suscipit.</p>
								<p>Mauris risus nulla, pulvinar vitae sagittis a, pharetra nec tellus. Suspendisse varius enim ac felis mattis aliquam. Aenean et justo quis ipsum gravida lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia bibendum cursus. Nullam nec pellentesque lacus. In porta erat in tortor rhoncus quis accumsan magna pretium. Nulla posuere magna eget mauris lacinia in mollis sem fermentum. Donec mollis adipiscing mauris, ut posuere enim rhoncus ut. Nunc commodo vestibulum orci vel placerat. Cras sed risus libero. Donec ac lacus vitae lectus mattis commodo id vitae libero. Etiam lorem odio, volutpat nec pulvinar sit amet, tincidunt ut lacus. Pellentesque consequat arcu vel nisi lobortis in pellentesque orci sollicitudin. Cras gravida lacus turpis, consectetur porttitor lectus. Cras malesuada tortor id neque porta ut semper quam iaculis.</p>
								<p>Nulla ut tortor quam, a luctus nunc. Nulla condimentum diam porttitor arcu placerat tincidunt. Nunc non augue ipsum. Nulla facilisi. Phasellus feugiat augue in ipsum egestas semper. Suspendisse blandit, nisl ullamcorper blandit sollicitudin, sem leo auctor lectus, et volutpat mauris elit et odio. Ut elementum risus in metus mollis tristique vulputate nulla interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae orci dui, ut facilisis dui.</p>
							 -->
							
							<!--  NSE	 -->
								Index: 
								<select id ="select_derivatives"> 
								<option>	20MICRONS	</option>
<option>	3IINFOTECH	</option>
<option>	3MINDIA	</option>
<option>	8KMILES	</option>
<option>	A2ZINFRA	</option>
<option>	AARTIDRUGS	</option>
<option>	AARTIIND	</option>
<option>	AARVEEDEN	</option>
<option>	ABAN	</option>
<option>	ABB	</option>
<option>	ABBOTINDIA	</option>
<option>	ABFRL	</option>
<option>	ABGSHIP	</option>
<option>	ABIRLANUVO	</option>
<option>	ABMINTLTD	</option>
<option>	ACC	</option>
<option>	ACCELYA	</option>
<option>	ACE	</option>
<option>	ACROPETAL	</option>
<option>	ADANIENT	</option>
<option>	ADANIPORTS	</option>
<option>	ADANIPOWER	</option>
<option>	ADANITRANS	</option>
<option>	ADFFOODS	</option>
<option>	ADHUNIK	</option>
<option>	ADHUNIKIND	</option>
<option>	ADI	</option>
<option>	ADLABS	</option>
<option>	ADORWELD	</option>
<option>	ADSL	</option>
<option>	ADVANIHOTR	</option>
<option>	ADVENZYMES	</option>
<option>	AEGISCHEM	</option>
<option>	AFL	</option>
<option>	AGARIND	</option>
<option>	AGCNET	</option>
<option>	AGRITECH	</option>
<option>	AGRODUTCH	</option>
<option>	AHLEAST	</option>
<option>	AHLUCONT	</option>
<option>	AHLWEST	</option>
<option>	AIAENG	</option>
<option>	AICHAMP	</option>
<option>	AIFL	</option>
<option>	AIL	</option>
<option>	AJANTPHARM	</option>
<option>	AJMERA	</option>
<option>	AKSHOPTFBR	</option>
<option>	AKZOINDIA	</option>
<option>	ALANKIT	</option>
<option>	ALBERTDAVD	</option>
<option>	ALBK	</option>
<option>	ALCHEM	</option>
<option>	ALEMBICLTD	</option>
<option>	ALICON	</option>
<option>	ALKALI	</option>
<option>	ALKEM	</option>
<option>	ALKYLAMINE	</option>
<option>	ALLCARGO	</option>
<option>	ALLSEC	</option>
<option>	ALMONDZ	</option>
<option>	ALOKTEXT	</option>
<option>	ALPA	</option>
<option>	ALPHAGEO	</option>
<option>	ALPSINDUS	</option>
<option>	ALSTOMT&D	</option>
<option>	AMARAJABAT	</option>
<option>	AMBIKCO	</option>
<option>	AMBUJACEM	</option>
<option>	AMDIND	</option>
<option>	AMRUTANJAN	</option>
<option>	AMTEKAUTO	</option>
<option>	AMTL	</option>
<option>	ANANDAMRUB	</option>
<option>	ANANTRAJ	</option>
<option>	ANDHRABANK	</option>
<option>	ANDHRACEMT	</option>
<option>	ANDHRSUGAR	</option>
<option>	ANGIND	</option>
<option>	ANIKINDS	</option>
<option>	ANKITMETAL	</option>
<option>	ANSALAPI	</option>
<option>	ANSALHSG	</option>
<option>	ANTGRAPHIC	</option>
<option>	APARINDS	</option>
<option>	APCOTEXIND	</option>
<option>	APLAPOLLO	</option>
<option>	APLLTD	</option>
<option>	APOLLOHOSP	</option>
<option>	APOLLOTYRE	</option>
<option>	APOLSINHOT	</option>
<option>	APTECHT	</option>
<option>	ARCHIDPLY	</option>
<option>	ARCHIES	</option>
<option>	ARCOTECH	</option>
<option>	ARIES	</option>
<option>	ARIHANT	</option>
<option>	ARMANFIN	</option>
<option>	AROGRANITE	</option>
<option>	ARROWGREEN	</option>
<option>	ARROWTEX	</option>
<option>	ARSHIYA	</option>
<option>	ARSSINFRA	</option>
<option>	ARVIND	</option>
<option>	ARVINFRA	</option>
<option>	ASAHIINDIA	</option>
<option>	ASAHISONG	</option>
<option>	ASAL	</option>
<option>	ASHAPURMIN	</option>
<option>	ASHIANA	</option>
<option>	ASHIMASYN	</option>
<option>	ASHOKA	</option>
<option>	ASHOKLEY	</option>
<option>	ASIANHOTNR	</option>
<option>	ASIANPAINT	</option>
<option>	ASIANTILES	</option>
<option>	ASIL	</option>
<option>	ASPINWALL	</option>
<option>	ASSAMCO	</option>
<option>	ASTEC	</option>
<option>	ASTRAL	</option>
<option>	ASTRAMICRO	</option>
<option>	ASTRAZEN	</option>
<option>	ATFL	</option>
<option>	ATLANTA	</option>
<option>	ATLASCYCLE	</option>
<option>	ATNINTER	</option>
<option>	ATUL	</option>
<option>	ATULAUTO	</option>
<option>	AURIONPRO	</option>
<option>	AUROPHARMA	</option>
<option>	AUSOMENT	</option>
<option>	AUSTRAL	</option>
<option>	AUTOAXLES	</option>
<option>	AUTOIND	</option>
<option>	AUTOLITIND	</option>
<option>	AVANTIFEED	</option>
<option>	AVTNPL	</option>
<option>	AXISBANK	</option>
<option>	AXISCADES	</option>
<option>	AYMSYNTEX	</option>
<option>	BAFNAPHARM	</option>
<option>	BAGFILMS	</option>
<option>	BAJAJ-AUTO	</option>
<option>	BAJAJCORP	</option>
<option>	BAJAJELEC	</option>
<option>	BAJAJFINSV	</option>
<option>	BAJAJHIND	</option>
<option>	BAJAJHLDNG	</option>
<option>	BAJFINANCE	</option>
<option>	BALAJITELE	</option>
<option>	BALAMINES	</option>
<option>	BALKRISIND	</option>
<option>	BALLARPUR	</option>
<option>	BALMLAWRIE	</option>
<option>	BALPHARMA	</option>
<option>	BALRAMCHIN	</option>
<option>	BANARBEADS	</option>
<option>	BANARISUG	</option>
<option>	BANCOINDIA	</option>
<option>	BANG	</option>
<option>	BANKBARODA	</option>
<option>	BANKINDIA	</option>
<option>	BANSWRAS	</option>
<option>	BARTRONICS	</option>
<option>	BASF	</option>
<option>	BASML	</option>
<option>	BATAINDIA	</option>
<option>	BAYERCROP	</option>
<option>	BBL	</option>
<option>	BBTC	</option>
<option>	BEARDSELL	</option>
<option>	BEDMUTHA	</option>
<option>	BEL	</option>
<option>	BEML	</option>
<option>	BEPL	</option>
<option>	BERGEPAINT	</option>
<option>	BFINVEST	</option>
<option>	BFUTILITIE	</option>
<option>	BGLOBAL	</option>
<option>	BGRENERGY	</option>
<option>	BHAGERIA	</option>
<option>	BHAGYNAGAR	</option>
<option>	BHARATFIN	</option>
<option>	BHARATFORG	</option>
<option>	BHARATGEAR	</option>
<option>	BHARATIDIL	</option>
<option>	BHARATRAS	</option>
<option>	BHARATWIRE	</option>
<option>	BHARTIARTL	</option>
<option>	BHEL	</option>
<option>	BHUSANSTL	</option>
<option>	BIL	</option>
<option>	BILENERGY	</option>
<option>	BILPOWER	</option>
<option>	BINANIIND	</option>
<option>	BINDALAGRO	</option>
<option>	BIOCON	</option>
<option>	BIRLACORPN	</option>
<option>	BIRLACOT	</option>
<option>	BIRLAERIC	</option>
<option>	BIRLAMONEY	</option>
<option>	BLBLIMITED	</option>
<option>	BLISSGVS	</option>
<option>	BLKASHYAP	</option>
<option>	BLS	</option>
<option>	BLUEBLENDS	</option>
<option>	BLUECHIP	</option>
<option>	BLUECOAST	</option>
<option>	BLUEDART	</option>
<option>	BLUESTARCO	</option>
<option>	BODALCHEM	</option>
<option>	BOMDYEING	</option>
<option>	BOSCHLTD	</option>
<option>	BPCL	</option>
<option>	BPL	</option>
<option>	BRFL	</option>
<option>	BRIGADE	</option>
<option>	BRITANNIA	</option>
<option>	BROADCAST	</option>
<option>	BROOKS	</option>
<option>	BSELINFRA	</option>
<option>	BSL	</option>
<option>	BSLIMITED	</option>
<option>	BURNPUR	</option>
<option>	BUTTERFLY	</option>
<option>	BVCL	</option>
<option>	BYKE	</option>
<option>	CADILAHC	</option>
<option>	CAIRN	</option>
<option>	CALSOFT	</option>
<option>	CALSOFT	</option>
<option>	CAMLINFINE	</option>
<option>	CANBK	</option>
<option>	CANDC	</option>
<option>	CANFINHOME	</option>
<option>	CANTABIL	</option>
<option>	CAPF	</option>
<option>	CAPLIPOINT	</option>
<option>	CARBORUNIV	</option>
<option>	CAREERP	</option>
<option>	CARERATING	</option>
<option>	CASTEXTECH	</option>
<option>	CASTROLIND	</option>
<option>	CCCL	</option>
<option>	CCHHL	</option>
<option>	CCL	</option>
<option>	CEATLTD	</option>
<option>	CEBBCO	</option>
<option>	CELEBRITY	</option>
<option>	CELESTIAL	</option>
<option>	CENTENKA	</option>
<option>	CENTEXT	</option>
<option>	CENTRALBK	</option>
<option>	CENTUM	</option>
<option>	CENTURYPLY	</option>
<option>	CENTURYTEX	</option>
<option>	CERA	</option>
<option>	CEREBRAINT	</option>
<option>	CESC	</option>
<option>	CGCL	</option>
<option>	CHAMBLFERT	</option>
<option>	CHEMFALKAL	</option>
<option>	CHENNPETRO	</option>
<option>	CHOLAFIN	</option>
<option>	CHROMATIC	</option>
<option>	CIGNITITEC	</option>
<option>	CIMMCO	</option>
<option>	CINELINE	</option>
<option>	CINEVISTA	</option>
<option>	CIPLA	</option>
<option>	CLNINDIA	</option>
<option>	CNOVAPETRO	</option>
<option>	COALINDIA	</option>
<option>	COFFEEDAY	</option>
<option>	COLPAL	</option>
<option>	COMPINFO	</option>
<option>	COMPUSOFT	</option>
<option>	CONCOR	</option>
<option>	CONSOFINVT	</option>
<option>	CONTROLPR	</option>
<option>	CORDSCABLE	</option>
<option>	COROMANDEL	</option>
<option>	CORPBANK	</option>
<option>	COSMOFILMS	</option>
<option>	COUNCODOS	</option>
<option>	COX&KINGS	</option>
<option>	CREATIVEYE	</option>
<option>	CREST	</option>
<option>	CRISIL	</option>
<option>	CROMPGREAV	</option>
<option>	CROMPTON	</option>
<option>	CTE	</option>
<option>	CUB	</option>
<option>	CUBEXTUB	</option>
<option>	CUMMINSIND	</option>
<option>	CURATECH	</option>
<option>	CYBERMEDIA	</option>
<option>	CYBERTECH	</option>
<option>	CYIENT	</option>
<option>	DAAWAT	</option>
<option>	DABUR	</option>
<option>	DALMIABHA	</option>
<option>	DALMIASUG	</option>
<option>	DAMODARIND	</option>
<option>	DATAMATICS	</option>
<option>	DBCORP	</option>
<option>	DBL	</option>
<option>	DBREALTY	</option>
<option>	DBSTOCKBRO	</option>
<option>	DCBBANK	</option>
<option>	DCM	</option>
<option>	DCMSHRIRAM	</option>
<option>	DCW	</option>
<option>	DECCANCE	</option>
<option>	DEEPAKFERT	</option>
<option>	DEEPAKNTR	</option>
<option>	DEEPIND	</option>
<option>	DELTACORP	</option>
<option>	DELTAMAGNT	</option>
<option>	DEN	</option>
<option>	DENABANK	</option>
<option>	DENORA	</option>
<option>	DHAMPURSUG	</option>
<option>	DHANBANK	</option>
<option>	DHANUKA	</option>
<option>	DHARSUGAR	</option>
<option>	DHFL	</option>
<option>	DHUNINV	</option>
<option>	DIAPOWER	</option>
<option>	DICIND	</option>
<option>	DIGJAMLTD	</option>
<option>	DISHMAN	</option>
<option>	DISHTV	</option>
<option>	DIVISLAB	</option>
<option>	DLF	</option>
<option>	DLINKINDIA	</option>
<option>	DOLPHINOFF	</option>
<option>	DONEAR	</option>
<option>	DPL	</option>
<option>	DPSCLTD	</option>
<option>	DQE	</option>
<option>	DREDGECORP	</option>
<option>	DRREDDY	</option>
<option>	DSKULKARNI	</option>
<option>	DSSL	</option>
<option>	DTIL	</option>
<option>	DUCON	</option>
<option>	DWARKESH	</option>
<option>	DYNAMATECH	</option>
<option>	EASTSILK	</option>
<option>	EASUNREYRL	</option>
<option>	ECEIND	</option>
<option>	ECLERX	</option>
<option>	EDELWEISS	</option>
<option>	EDL	</option>
<option>	EDUCOMP	</option>
<option>	EICHERMOT	</option>
<option>	EIDPARRY	</option>
<option>	EIHAHOTELS	</option>
<option>	EIHOTEL	</option>
<option>	EIMCOELECO	</option>
<option>	EKC	</option>
<option>	ELAND	</option>
<option>	ELECON	</option>
<option>	ELECTCAST	</option>
<option>	ELECTHERM	</option>
<option>	ELGIEQUIP	</option>
<option>	ELGIRUBCO	</option>
<option>	EMAMIINFRA	</option>
<option>	EMAMILTD	</option>
<option>	EMCO	</option>
<option>	EMKAY	</option>
<option>	EMMBI	</option>
<option>	ENERGYDEV	</option>
<option>	ENGINERSIN	</option>
<option>	ENIL	</option>
<option>	ENTEGRA	</option>
<option>	EON	</option>
<option>	EQUITAS	</option>
<option>	EQUITAS	</option>
<option>	EROSMEDIA	</option>
<option>	ESABINDIA	</option>
<option>	ESCORTS	</option>
<option>	ESL	</option>
<option>	ESSARSHPNG	</option>
<option>	ESSDEE	</option>
<option>	ESSELPACK	</option>
<option>	ESTER	</option>
<option>	EUROCERA	</option>
<option>	EUROMULTI	</option>
<option>	EUROTEXIND	</option>
<option>	EVEREADY	</option>
<option>	EVERESTIND	</option>
<option>	EVERONN	</option>
<option>	EXCEL	</option>
<option>	EXCELCROP	</option>
<option>	EXCELINDUS	</option>
<option>	EXIDEIND	</option>
<option>	FACT	</option>
<option>	FAGBEARING	</option>
<option>	FARMAXIND	</option>
<option>	FCEL	</option>
<option>	FCL	</option>
<option>	FCSSOFT	</option>
<option>	FDC	</option>
<option>	FEDDERLOYD	</option>
<option>	FEDERALBNK	</option>
<option>	FEL	</option>
<option>	FELDVR	</option>
<option>	FIEMIND	</option>
<option>	FILATEX	</option>
<option>	FINANTECH	</option>
<option>	FINCABLES	</option>
<option>	FINPIPE	</option>
<option>	FIRSTWIN	</option>
<option>	FLEXITUFF	</option>
<option>	FLFL	</option>
<option>	FMGOETZE	</option>
<option>	FMNL	</option>
<option>	FORTIS	</option>
<option>	FOSECOIND	</option>
<option>	FSL	</option>
<option>	GABRIEL	</option>
<option>	GAEL	</option>
<option>	GAIL	</option>
<option>	GAL	</option>
<option>	GALLANTT	</option>
<option>	GALLISPAT	</option>
<option>	GAMMNINFRA	</option>
<option>	GAMMONIND	</option>
<option>	GANDHITUBE	</option>
<option>	GANECOS	</option>
<option>	GANESHHOUC	</option>
<option>	GANGOTRI	</option>
<option>	GARDENSILK	</option>
<option>	GARWALLROP	</option>
<option>	GATI	</option>
<option>	GAYAPROJ	</option>
<option>	GDL	</option>
<option>	GEECEE	</option>
<option>	GEINDSYS	</option>
<option>	GEMINI	</option>
<option>	GENESYS	</option>
<option>	GENUSPAPER	</option>
<option>	GENUSPOWER	</option>
<option>	GEOJITBNPP	</option>
<option>	GEOMETRIC	</option>
<option>	GESHIP	</option>
<option>	GHCL	</option>
<option>	GICHSGFIN	</option>
<option>	GILLANDERS	</option>
<option>	GILLETTE	</option>
<option>	GINNIFILA	</option>
<option>	GIPCL	</option>
<option>	GISOLUTION	</option>
<option>	GITANJALI	</option>
<option>	GKWLIMITED	</option>
<option>	GLAXO	</option>
<option>	GLENMARK	</option>
<option>	GLFL	</option>
<option>	GLOBALVECT	</option>
<option>	GLOBOFFS	</option>
<option>	GLOBUSSPR	</option>
<option>	GMBREW	</option>
<option>	GMDCLTD	</option>
<option>	GMRINFRA	</option>
<option>	GNFC	</option>
<option>	GOACARBON	</option>
<option>	GOCLCORP	</option>
<option>	GODFRYPHLP	</option>
<option>	GODREJCP	</option>
<option>	GODREJIND	</option>
<option>	GODREJPROP	</option>
<option>	GOENKA	</option>
<option>	GOKEX	</option>
<option>	GOKUL	</option>
<option>	GOKULAGRO	</option>
<option>	GOLDENTOBC	</option>
<option>	GOLDIAM	</option>
<option>	GOLDINFRA	</option>
<option>	GOLDTECH	</option>
<option>	GOODLUCK	</option>
<option>	GPIL	</option>
<option>	GPPL	</option>
<option>	GPTINFRA	</option>
<option>	GRANULES	</option>
<option>	GRAPHITE	</option>
<option>	GRASIM	</option>
<option>	GRASIM	</option>
<option>	GRAVITA	</option>
<option>	GREAVESCOT	</option>
<option>	GREENFIRE	</option>
<option>	GREENLAM	</option>
<option>	GREENPLY	</option>
<option>	GREENPOWER	</option>
<option>	GRINDWELL	</option>
<option>	GROBTEA	</option>
<option>	GRPLTD	</option>
<option>	GRUH	</option>
<option>	GSCLCEMENT	</option>
<option>	GSFC	</option>
<option>	GSFC	</option>
<option>	GSKCONS	</option>
<option>	GSPL	</option>
<option>	GSS	</option>
<option>	GTL	</option>
<option>	GTLINFRA	</option>
<option>	GTNIND	</option>
<option>	GTNTEX	</option>
<option>	GTOFFSHORE	</option>
<option>	GUFICBIO	</option>
<option>	GUJALKALI	</option>
<option>	GUJAPOLLO	</option>
<option>	GUJFLUORO	</option>
<option>	GUJGASLTD	</option>
<option>	GUJNRECOKE	</option>
<option>	GUJNREDVR	</option>
<option>	GULFOILLUB	</option>
<option>	GULFPETRO	</option>
<option>	GULPOLY	</option>
<option>	GVKPIL	</option>
<option>	HANUNG	</option>
<option>	HARITASEAT	</option>
<option>	HARRMALAYA	</option>
<option>	HATHWAY	</option>
<option>	HATSUN	</option>
<option>	HAVELLS	</option>
<option>	HBLPOWER	</option>
<option>	HBSTOCK	</option>
<option>	HCC	</option>
<option>	HCG	</option>
<option>	HCIL	</option>
<option>	HCL-INSYS	</option>
<option>	HCLTECH	</option>
<option>	HDFC	</option>
<option>	HDFCBANK	</option>
<option>	HDFCBANK	</option>
<option>	HDIL	</option>
<option>	HEG	</option>
<option>	HEIDELBERG	</option>
<option>	HERCULES	</option>
<option>	HERITGFOOD	</option>
<option>	HEROMOTOCO	</option>
<option>	HESTERBIO	</option>
<option>	HEXATRADEX	</option>
<option>	HEXAWARE	</option>
<option>	HFCL	</option>
<option>	HGS	</option>
<option>	HIKAL	</option>
<option>	HIL	</option>
<option>	HILTON	</option>
<option>	HIMATSEIDE	</option>
<option>	HINDALCO	</option>
<option>	HINDCOMPOS	</option>
<option>	HINDCOPPER	</option>
<option>	HINDDORROL	</option>
<option>	HINDMOTORS	</option>
<option>	HINDNATGLS	</option>
<option>	HINDOILEXP	</option>
<option>	HINDPETRO	</option>
<option>	HINDSYNTEX	</option>
<option>	HINDUJAFO	</option>
<option>	HINDUJAVEN	</option>
<option>	HINDUNILVR	</option>
<option>	HINDZINC	</option>
<option>	HIRECT	</option>
<option>	HITACHIHOM	</option>
<option>	HITECHGEAR	</option>
<option>	HITECHPLAS	</option>
<option>	HMT	</option>
<option>	HMVL	</option>
<option>	HOCL	</option>
<option>	HONAUT	</option>
<option>	HONDAPOWER	</option>
<option>	HOTELEELA	</option>
<option>	HOTELRUGBY	</option>
<option>	HOVS	</option>
<option>	HSIL	</option>
<option>	HTMEDIA	</option>
<option>	HUBTOWN	</option>
<option>	IBREALEST	</option>
<option>	IBULHSGFIN	</option>
<option>	IBVENTURES	</option>
<option>	IBWSL	</option>
<option>	ICICIBANK	</option>
<option>	ICIL	</option>
<option>	ICRA	</option>
<option>	ICSA	</option>
<option>	IDBI	</option>
<option>	IDEA	</option>
<option>	IDFC	</option>
<option>	IDFC	</option>
<option>	IDFCBANK	</option>
<option>	IFBAGRO	</option>
<option>	IFBIND	</option>
<option>	IFCI	</option>
<option>	IFGLREFRAC	</option>
<option>	IGARASHI	</option>
<option>	IGL	</option>
<option>	IGPL	</option>
<option>	IIFL	</option>
<option>	IITL	</option>
<option>	IL&FSENGG	</option>
<option>	IL&FSTRANS	</option>
<option>	IMFA	</option>
<option>	IMPAL	</option>
<option>	IMPEXFERRO	</option>
<option>	INDBANK	</option>
<option>	INDHOTEL	</option>
<option>	INDIACEM	</option>
<option>	INDIAGLYCO	</option>
<option>	INDIANB	</option>
<option>	INDIANCARD	</option>
<option>	INDIANHUME	</option>
<option>	INDIGO	</option>
<option>	INDLMETER	</option>
<option>	INDNIPPON	</option>
<option>	INDOCO	</option>
<option>	INDORAMA	</option>
<option>	INDOSOLAR	</option>
<option>	INDOTECH	</option>
<option>	INDOTHAI	</option>
<option>	INDOWIND	</option>
<option>	INDRAMEDCO	</option>
<option>	INDSWFTLAB	</option>
<option>	INDSWFTLTD	</option>
<option>	INDTERRAIN	</option>
<option>	INDUSINDBK	</option>
<option>	INEOSSTYRO	</option>
<option>	INFIBEAM	</option>
<option>	INFINITE	</option>
<option>	INFOMEDIA	</option>
<option>	INFRATEL	</option>
<option>	INFY	</option>
<option>	INGERRAND	</option>
<option>	INOXLEISUR	</option>
<option>	INOXLEISUR	</option>
<option>	INOXWIND	</option>
<option>	INSECTICID	</option>
<option>	INTEGRA	</option>
<option>	INTELLECT	</option>
<option>	INVENTURE	</option>
<option>	IOB	</option>
<option>	IOC	</option>
<option>	IOLCP	</option>
<option>	IPAPPM	</option>
<option>	IPCALAB	</option>
<option>	IRB	</option>
<option>	ISFT	</option>
<option>	ISMTLTD	</option>
<option>	ITC	</option>
<option>	ITDCEM	</option>
<option>	ITI	</option>
<option>	IVC	</option>
<option>	IVP	</option>
<option>	IVRCLINFRA	</option>
<option>	IZMO	</option>
<option>	J&KBANK	</option>
<option>	JAGRAN	</option>
<option>	JAGSNPHARM	</option>
<option>	JAIBALAJI	</option>
<option>	JAICORPLTD	</option>
<option>	JAIHINDPRO	</option>
<option>	JAINSTUDIO	</option>
<option>	JAMNAAUTO	</option>
<option>	JAYAGROGN	</option>
<option>	JAYBARMARU	</option>
<option>	JAYNECOIND	</option>
<option>	JAYSREETEA	</option>
<option>	JBCHEPHARM	</option>
<option>	JBFIND	</option>
<option>	JBMA	</option>
<option>	JENSONICOL	</option>
<option>	JETAIRWAYS	</option>
<option>	JHS	</option>
<option>	JIKIND	</option>
<option>	JINDALPHOT	</option>
<option>	JINDALPOLY	</option>
<option>	JINDALSAW	</option>
<option>	JINDALSTEL	</option>
<option>	JINDCOT	</option>
<option>	JINDRILL	</option>
<option>	JINDWORLD	</option>
<option>	JISLDVREQS	</option>
<option>	JISLJALEQS	</option>
<option>	JKCEMENT	</option>
<option>	JKIL	</option>
<option>	JKLAKSHMI	</option>
<option>	JKPAPER	</option>
<option>	JKTYRE	</option>
<option>	JMA	</option>
<option>	JMCPROJECT	</option>
<option>	JMFINANCIL	</option>
<option>	JMTAUTOLTD	</option>
<option>	JOCIL	</option>
<option>	JPASSOCIAT	</option>
<option>	JPINFRATEC	</option>
<option>	JPOLYINVST	</option>
<option>	JPPOWER	</option>
<option>	JSL	</option>
<option>	JSLHISAR	</option>
<option>	JSWENERGY	</option>
<option>	JSWHL	</option>
<option>	JSWSTEEL	</option>
<option>	JUBILANT	</option>
<option>	JUBLFOOD	</option>
<option>	JUBLINDS	</option>
<option>	JUSTDIAL	</option>
<option>	JVLAGRO	</option>
<option>	JYOTHYLAB	</option>
<option>	JYOTISTRUC	</option>
<option>	KABRAEXTRU	</option>
<option>	KAJARIACER	</option>
<option>	KAKATCEM	</option>
<option>	KALINDEE	</option>
<option>	KALPATPOWR	</option>
<option>	KALYANIFRG	</option>
<option>	KAMATHOTEL	</option>
<option>	KAMDHENU	</option>
<option>	KANANIIND	</option>
<option>	KANORICHEM	</option>
<option>	KANSAINER	</option>
<option>	KARMAENG	</option>
<option>	KARURVYSYA	</option>
<option>	KAUSHALYA	</option>
<option>	KAVVERITEL	</option>
<option>	KAYA	</option>
<option>	KCP	</option>
<option>	KCPSUGIND	</option>
<option>	KDDL	</option>
<option>	KEC	</option>
<option>	KECL	</option>
<option>	KEI	</option>
<option>	KELLTONTEC	</option>
<option>	KEMROCK	</option>
<option>	KERNEX	</option>
<option>	KESARENT	</option>
<option>	KESORAMIND	</option>
<option>	KEYCORPSER	</option>
<option>	KGL	</option>
<option>	KHAITANELE	</option>
<option>	KHAITANLTD	</option>
<option>	KHANDSE	</option>
<option>	KICL	</option>
<option>	KILITCH	</option>
<option>	KIRIINDUS	</option>
<option>	KIRLOSBROS	</option>
<option>	KIRLOSENG	</option>
<option>	KIRLOSIND	</option>
<option>	KITEX	</option>
<option>	KKCL	</option>
<option>	KMSUGAR	</option>
<option>	KNRCON	</option>
<option>	KOHINOOR	</option>
<option>	KOKUYOCMLN	</option>
<option>	KOLTEPATIL	</option>
<option>	KOPRAN	</option>
<option>	KOTAKBANK	</option>
<option>	KOTARISUG	</option>
<option>	KOTHARIPET	</option>
<option>	KOTHARIPRO	</option>
<option>	KPIT	</option>
<option>	KPRMILL	</option>
<option>	KRBL	</option>
<option>	KRIDHANINF	</option>
<option>	KSBPUMPS	</option>
<option>	KSCL	</option>
<option>	KSERASERA	</option>
<option>	KSK	</option>
<option>	KSL	</option>
<option>	KTIL	</option>
<option>	KTKBANK	</option>
<option>	KWALITY	</option>
<option>	L&TFH	</option>
<option>	LAKPRE	</option>
<option>	LAKSHMIEFL	</option>
<option>	LAKSHVILAS	</option>
<option>	LALPATHLAB	</option>
<option>	LAMBODHARA	</option>
<option>	LAOPALA	</option>
<option>	LAXMIMACH	</option>
<option>	LCCINFOTEC	</option>
<option>	LFIC	</option>
<option>	LGBBROSLTD	</option>
<option>	LGBFORGE	</option>
<option>	LIBERTSHOE	</option>
<option>	LICHSGFIN	</option>
<option>	LINCOLN	</option>
<option>	LINCPEN	</option>
<option>	LINDEINDIA	</option>
<option>	LITL	</option>
<option>	LLOYDELENG	</option>
<option>	LML	</option>
<option>	LOKESHMACH	</option>
<option>	LOTUSEYE	</option>
<option>	LOVABLE	</option>
<option>	LPDC	</option>
<option>	LSIL	</option>
<option>	LT	</option>
<option>	LTI	</option>
<option>	LUMAXAUTO	</option>
<option>	LUMAXIND	</option>
<option>	LUMAXTECH	</option>
<option>	LUPIN	</option>
<option>	LUXIND	</option>
<option>	LYCOS	</option>
<option>	LYKALABS	</option>
<option>	LYPSAGEMS	</option>
<option>	M&M	</option>
<option>	M&MFIN	</option>
<option>	MAANALU	</option>
<option>	MADHAV	</option>
<option>	MADHUCON	</option>
<option>	MADRASFERT	</option>
<option>	MAGMA	</option>
<option>	MAGNUM	</option>
<option>	MAHABANK	</option>
<option>	MAHASTEEL	</option>
<option>	MAHINDCIE	</option>
<option>	MAHLIFE	</option>
<option>	MAHSCOOTER	</option>
<option>	MAHSEAMLES	</option>
<option>	MAITHANALL	</option>
<option>	MAJESCO	</option>
<option>	MALUPAPER	</option>
<option>	MALWACOTT	</option>
<option>	MANAKALUCO	</option>
<option>	MANAKCOAT	</option>
<option>	MANAKINDST	</option>
<option>	MANAKSIA	</option>
<option>	MANAKSTEEL	</option>
<option>	MANALIPETC	</option>
<option>	MANAPPURAM	</option>
<option>	MANDHANA	</option>
<option>	MANGALAM	</option>
<option>	MANGCHEFER	</option>
<option>	MANGLMCEM	</option>
<option>	MANGTIMBER	</option>
<option>	MANINDS	</option>
<option>	MANINFRA	</option>
<option>	MANPASAND	</option>
<option>	MANUGRAPH	</option>
<option>	MARALOVER	</option>
<option>	MARICO	</option>
<option>	MARKSANS	</option>
<option>	MARUTI	</option>
<option>	MASTEK	</option>
<option>	MAWANASUG	</option>
<option>	MAXINDIA	</option>
<option>	MAXVIL	</option>
<option>	MAXWELL	</option>
<option>	MAYURUNIQ	</option>
<option>	MBECL	</option>
<option>	MBLINFRA	</option>
<option>	MCDHOLDING	</option>
<option>	MCDOWELL-N	</option>
<option>	MCLEODRUSS	</option>
<option>	MCX	</option>
<option>	MEGASOFT	</option>
<option>	MEGH	</option>
<option>	MELSTAR	</option>
<option>	MENONBE	</option>
<option>	MEP	</option>
<option>	MERCATOR	</option>
<option>	MERCK	</option>
<option>	METALFORGE	</option>
<option>	METKORE	</option>
<option>	MFSL	</option>
<option>	MGL	</option>
<option>	MHRIL	</option>
<option>	MIC	</option>
<option>	MICROSEC	</option>
<option>	MINDACORP	</option>
<option>	MINDAIND	</option>
<option>	MINDTECK	</option>
<option>	MINDTREE	</option>
<option>	MIRCELECTR	</option>
<option>	MIRZAINT	</option>
<option>	MMFL	</option>
<option>	MMTC	</option>
<option>	MOHITIND	</option>
<option>	MOIL	</option>
<option>	MOLDTECH	</option>
<option>	MOLDTKPAC	</option>
<option>	MONNETISPA	</option>
<option>	MONSANTO	</option>
<option>	MONTECARLO	</option>
<option>	MORARJEE	</option>
<option>	MOREPENLAB	</option>
<option>	MOSERBAER	</option>
<option>	MOTHERSUMI	</option>
<option>	MOTILALOFS	</option>
<option>	MOTOGENFIN	</option>
<option>	MPHASIS	</option>
<option>	MPSLTD	</option>
<option>	MRF	</option>
<option>	MRO-TEK	</option>
<option>	MRPL	</option>
<option>	MSPL	</option>
<option>	MTEDUCARE	</option>
<option>	MTNL	</option>
<option>	MUKANDENGG	</option>
<option>	MUKANDLTD	</option>
<option>	MUKTAARTS	</option>
<option>	MUNJALAU	</option>
<option>	MUNJALSHOW	</option>
<option>	MURUDCERA	</option>
<option>	MUTHOOTCAP	</option>
<option>	MUTHOOTFIN	</option>
<option>	MVL	</option>
<option>	MYSOREBANK	</option>
<option>	NAGAFERT	</option>
<option>	NAGAROIL	</option>
<option>	NAGREEKCAP	</option>
<option>	NAGREEKEXP	</option>
<option>	NAHARCAP	</option>
<option>	NAHARINDUS	</option>
<option>	NAHARPOLY	</option>
<option>	NAHARSPING	</option>
<option>	NAKODA	</option>
<option>	NATCOPHARM	</option>
<option>	NATHBIOGEN	</option>
<option>	NATIONALUM	</option>
<option>	NATNLSTEEL	</option>
<option>	NAUKRI	</option>
<option>	NAVINFLUOR	</option>
<option>	NAVKARCORP	</option>
<option>	NAVNETEDUL	</option>
<option>	NBCC	</option>
<option>	NBVENTURES	</option>
<option>	NCC	</option>
<option>	NCLIND	</option>
<option>	NDL	</option>
<option>	NDTV	</option>
<option>	NECCLTD	</option>
<option>	NECLIFE	</option>
<option>	NELCAST	</option>
<option>	NELCO	</option>
<option>	NEPCMICON	</option>
<option>	NESCO	</option>
<option>	NESTLEIND	</option>
<option>	NET4	</option>
<option>	NETWORK18	</option>
<option>	NEULANDLAB	</option>
<option>	NEXTMEDIA	</option>
<option>	NFL	</option>
<option>	NGCT	</option>
<option>	NH	</option>
<option>	NHPC	</option>
<option>	NIBL	</option>
<option>	NICCO	</option>
<option>	NIITLTD	</option>
<option>	NIITTECH	</option>
<option>	NILAINFRA	</option>
<option>	NILKAMAL	</option>
<option>	NIPPOBATRY	</option>
<option>	NIRVIKARA	</option>
<option>	NITCO	</option>
<option>	NITESHEST	</option>
<option>	NITINFIRE	</option>
<option>	NITINSPIN	</option>
<option>	NKIND	</option>
<option>	NLCINDIA	</option>
<option>	NMDC	</option>
<option>	NOCIL	</option>
<option>	NOESISIND	</option>
<option>	NOIDATOLL	</option>
<option>	NORBTEAEXP	</option>
<option>	NRBBEARING	</option>
<option>	NSIL	</option>
<option>	NTPC	</option>
<option>	NUCLEUS	</option>
<option>	NUTEK	</option>
<option>	OBEROIRLTY	</option>
<option>	OCCL	</option>
<option>	OCL	</option>
<option>	OFSS	</option>
<option>	OIL	</option>
<option>	OILCOUNTUB	</option>
<option>	OISL	</option>
<option>	OMAXAUTO	</option>
<option>	OMAXE	</option>
<option>	OMKARCHEM	</option>
<option>	OMMETALS	</option>
<option>	OMNITECH	</option>
<option>	ONELIFECAP	</option>
<option>	ONGC	</option>
<option>	ONMOBILE	</option>
<option>	ONWARDTEC	</option>
<option>	OPTOCIRCUI	</option>
<option>	ORBITCORP	</option>
<option>	ORBTEXP	</option>
<option>	ORCHIDPHAR	</option>
<option>	ORICONENT	</option>
<option>	ORIENTABRA	</option>
<option>	ORIENTALTL	</option>
<option>	ORIENTBANK	</option>
<option>	ORIENTBELL	</option>
<option>	ORIENTCEM	</option>
<option>	ORIENTHOT	</option>
<option>	ORIENTLTD	</option>
<option>	ORIENTPPR	</option>
<option>	ORIENTREF	</option>
<option>	ORISSAMINE	</option>
<option>	ORTEL	</option>
<option>	ORTINLABSS	</option>
<option>	OUDHSUG	</option>
<option>	PAEL	</option>
<option>	PAGEIND	</option>
<option>	PALREDTEC	</option>
<option>	PANACEABIO	</option>
<option>	PANAMAPET	</option>
<option>	PANORAMUNI	</option>
<option>	PAPERPROD	</option>
<option>	PARABDRUGS	</option>
<option>	PARACABLES	</option>
<option>	PARAGMILK	</option>
<option>	PARAPRINT	</option>
<option>	PARASPETRO	</option>
<option>	PARRYSUGAR	</option>
<option>	PARSVNATH	</option>
<option>	PATELENG	</option>
<option>	PATINTLOG	</option>
<option>	PATSPINLTD	</option>
<option>	PBAINFRA	</option>
<option>	PCJEWELLER	</option>
<option>	PDMJEPAPER	</option>
<option>	PDPL	</option>
<option>	PDSMFL	</option>
<option>	PDUMJEIND	</option>
<option>	PDUMJEPULP	</option>
<option>	PEARLPOLY	</option>
<option>	PEL	</option>
<option>	PENIND	</option>
<option>	PENINLAND	</option>
<option>	PENPEBS	</option>
<option>	PERSISTENT	</option>
<option>	PETRONENGG	</option>
<option>	PETRONET	</option>
<option>	PFC	</option>
<option>	PFIZER	</option>
<option>	PFOCUS	</option>
<option>	PFS	</option>
<option>	PGEL	</option>
<option>	PGHH	</option>
<option>	PGIL	</option>
<option>	PHILIPCARB	</option>
<option>	PHOENIXLL	</option>
<option>	PHOENIXLTD	</option>
<option>	PIDILITIND	</option>
<option>	PIIND	</option>
<option>	PILANIINVS	</option>
<option>	PILITA	</option>
<option>	PINCON	</option>
<option>	PIONDIST	</option>
<option>	PIONEEREMB	</option>
<option>	PIRPHYTO	</option>
<option>	PITTILAM	</option>
<option>	PKTEA	</option>
<option>	PLASTIBLEN	</option>
<option>	PNB	</option>
<option>	PNBGILTS	</option>
<option>	PNC	</option>
<option>	PNCINFRA	</option>
<option>	PNEUMATIC	</option>
<option>	POCHIRAJU	</option>
<option>	POKARNA	</option>
<option>	POLARIS	</option>
<option>	POLYMED	</option>
<option>	POLYPLEX	</option>
<option>	PONNIERODE	</option>
<option>	POWERGRID	</option>
<option>	POWERMECH	</option>
<option>	PPAP	</option>
<option>	PRABHAT	</option>
<option>	PRADIP	</option>
<option>	PRAENG	</option>
<option>	PRAJIND	</option>
<option>	PRAKASH	</option>
<option>	PRAKASHCON	</option>
<option>	PRAKASHSTL	</option>
<option>	PRATIBHA	</option>
<option>	PRECAM	</option>
<option>	PRECOT	</option>
<option>	PRECWIRE	</option>
<option>	PREMEXPLN	</option>
<option>	PREMIER	</option>
<option>	PREMIERPOL	</option>
<option>	PRESSMN	</option>
<option>	PRESTIGE	</option>
<option>	PRICOL	</option>
<option>	PRIMESECU	</option>
<option>	PRISMCEM	</option>
<option>	PROVOGE	</option>
<option>	PROZONINTU	</option>
<option>	PSB	</option>
<option>	PSL	</option>
<option>	PTC	</option>
<option>	PTL	</option>
<option>	PUNJABCHEM	</option>
<option>	PUNJLLOYD	</option>
<option>	PURVA	</option>
<option>	PVP	</option>
<option>	PVR	</option>
<option>	QUESS	</option>
<option>	QUICKHEAL	</option>
<option>	QUINTEGRA	</option>
<option>	RADAAN	</option>
<option>	RADICO	</option>
<option>	RAIN	</option>
<option>	RAINBOWPAP	</option>
<option>	RAIREKMOH	</option>
<option>	RAJESHEXPO	</option>
<option>	RAJOIL	</option>
<option>	RAJRAYON	</option>
<option>	RAJSREESUG	</option>
<option>	RAJTV	</option>
<option>	RAJVIR	</option>
<option>	RALLIS	</option>
<option>	RAMANEWS	</option>
<option>	RAMASTEEL	</option>
<option>	RAMCOCEM	</option>
<option>	RAMCOIND	</option>
<option>	RAMCOSYS	</option>
<option>	RAMKY	</option>
<option>	RAMSARUP	</option>
<option>	RANASUG	</option>
<option>	RANEENGINE	</option>
<option>	RANEHOLDIN	</option>
<option>	RASOYPR	</option>
<option>	RATNAMANI	</option>
<option>	RAYMOND	</option>
<option>	RBL	</option>
<option>	RCF	</option>
<option>	RCOM	</option>
<option>	RDEL	</option>
<option>	RECLTD	</option>
<option>	REDINGTON	</option>
<option>	REFEX	</option>
<option>	REGENCERAM	</option>
<option>	REIAGROLTD	</option>
<option>	REISIXTEN	</option>
<option>	RELAXO	</option>
<option>	RELCAPITAL	</option>
<option>	RELIANCE	</option>
<option>	RELIGARE	</option>
<option>	RELINFRA	</option>
<option>	REMSONSIND	</option>
<option>	RENUKA	</option>
<option>	REPCOHOME	</option>
<option>	REPRO	</option>
<option>	RESPONIND	</option>
<option>	REVATHI	</option>
<option>	RICOAUTO	</option>
<option>	RIIL	</option>
<option>	RJL	</option>
<option>	RKDL	</option>
<option>	RKFORGE	</option>
<option>	RMCL	</option>
<option>	RML	</option>
<option>	RMMIL	</option>
<option>	ROHITFERRO	</option>
<option>	ROHLTD	</option>
<option>	ROLTA	</option>
<option>	ROSSELLIND	</option>
<option>	RPGLIFE	</option>
<option>	RPOWER	</option>
<option>	RPPINFRA	</option>
<option>	RSSOFTWARE	</option>
<option>	RSWM	</option>
<option>	RSYSTEMS	</option>
<option>	RTNINFRA	</option>
<option>	RTNPOWER	</option>
<option>	RUBYMILLS	</option>
<option>	RUCHINFRA	</option>
<option>	RUCHIRA	</option>
<option>	RUCHISOYA	</option>
<option>	RUPA	</option>
<option>	RUSHIL	</option>
<option>	SABTN	</option>
<option>	SADBHAV	</option>
<option>	SADBHIN	</option>
<option>	SAGCEM	</option>
<option>	SAIL	</option>
<option>	SAKHTISUG	</option>
<option>	SAKSOFT	</option>
<option>	SAKUMA	</option>
<option>	SALONA	</option>
<option>	SALORAINTL	</option>
<option>	SALSTEEL	</option>
<option>	SALZERELEC	</option>
<option>	SAMBHAAV	</option>
<option>	SAMTEL	</option>
<option>	SANDESH	</option>
<option>	SANGAMIND	</option>
<option>	SANGHIIND	</option>
<option>	SANGHVIFOR	</option>
<option>	SANGHVIMOV	</option>
<option>	SANOFI	</option>
<option>	SANWARIA	</option>
<option>	SARDAEN	</option>
<option>	SAREGAMA	</option>
<option>	SARLAPOLY	</option>
<option>	SASKEN	</option>
<option>	SATHAISPAT	</option>
<option>	SATIN	</option>
<option>	SBBJ	</option>
<option>	SBIN	</option>
<option>	SBT	</option>
<option>	SCHNEIDER	</option>
<option>	SCI	</option>
<option>	SDBL	</option>
<option>	SEAMECLTD	</option>
<option>	SEINV	</option>
<option>	SELAN	</option>
<option>	SELMCL	</option>
<option>	SEPOWER	</option>
<option>	SEQUENT	</option>
<option>	SERVALL	</option>
<option>	SESHAPAPER	</option>
<option>	SETCO	</option>
<option>	SEZAL	</option>
<option>	SFCL	</option>
<option>	SGFL	</option>
<option>	SGJHL	</option>
<option>	SGL	</option>
<option>	SHAHALLOYS	</option>
<option>	SHAKTIPUMP	</option>
<option>	SHALPAINTS	</option>
<option>	SHANTIGEAR	</option>
<option>	SHARDACROP	</option>
<option>	SHARDAMOTR	</option>
<option>	SHARONBIO	</option>
<option>	SHEMAROO	</option>
<option>	SHILPAMED	</option>
<option>	SHILPI	</option>
<option>	SHIRPUR-G	</option>
<option>	SHIVAMAUTO	</option>
<option>	SHIVTEX	</option>
<option>	SHK	</option>
<option>	SHOPERSTOP	</option>
<option>	SHREECEM	</option>
<option>	SHREEPUSHK	</option>
<option>	SHREERAMA	</option>
<option>	SHRENUJ	</option>
<option>	SHREYANIND	</option>
<option>	SHREYAS	</option>
<option>	SHRIASTER	</option>
<option>	SHRIPISTON	</option>
<option>	SHRIRAMCIT	</option>
<option>	SHRIRAMEPC	</option>
<option>	SHYAMCENT	</option>
<option>	SHYAMTEL	</option>
<option>	SICAGEN	</option>
<option>	SICAL	</option>
<option>	SIEMENS	</option>
<option>	SIGNET	</option>
<option>	SIL	</option>
<option>	SILINV	</option>
<option>	SIMBHALS	</option>
<option>	SIMPLEX	</option>
<option>	SIMPLEXINF	</option>
<option>	SINTEX	</option>
<option>	SITASHREE	</option>
<option>	SITICABLE	</option>
<option>	SIYSIL	</option>
<option>	SJVN	</option>
<option>	SKFINDIA	</option>
<option>	SKIL	</option>
<option>	SKIPPER	</option>
<option>	SKMEGGPROD	</option>
<option>	SMARTLINK	</option>
<option>	SMLISUZU	</option>
<option>	SMPL	</option>
<option>	SMSPHARMA	</option>
<option>	SNOWMAN	</option>
<option>	SOBHA	</option>
<option>	SOFTTECHGR	</option>
<option>	SOLARINDS	</option>
<option>	SOMANYCERA	</option>
<option>	SOMATEX	</option>
<option>	SOMICONVEY	</option>
<option>	SONASTEER	</option>
<option>	SONATSOFTW	</option>
<option>	SOTL	</option>
<option>	SOUTHBANK	</option>
<option>	SPAL	</option>
<option>	SPARC	</option>
<option>	SPECIALITY	</option>
<option>	SPECTACLE	</option>
<option>	SPENTEX	</option>
<option>	SPHEREGSL	</option>
<option>	SPIC	</option>
<option>	SPICEMOBI	</option>
<option>	SPLIL	</option>
<option>	SPMLINFRA	</option>
<option>	SPYL	</option>
<option>	SQSBFSI	</option>
<option>	SREEL	</option>
<option>	SREINFRA	</option>
<option>	SRF	</option>
<option>	SRGINFOTEC	</option>
<option>	SRHHYPOLTD	</option>
<option>	SRIPIPES	</option>
<option>	SRSLTD	</option>
<option>	SRTRANSFIN	</option>
<option>	SSWL	</option>
<option>	STAMPEDE	</option>
<option>	STAR	</option>
<option>	STARPAPER	</option>
<option>	STCINDIA	</option>
<option>	STEL	</option>
<option>	STERLINBIO	</option>
<option>	STERTOOLS	</option>
<option>	STINDIA	</option>
<option>	STOREONE	</option>
<option>	STRTECH	</option>
<option>	SUBEX	</option>
<option>	SUBROS	</option>
<option>	SUDAR	</option>
<option>	SUDARSCHEM	</option>
<option>	SUJANATWR	</option>
<option>	SUJANAUNI	</option>
<option>	SUMEETINDS	</option>
<option>	SUMMITSEC	</option>
<option>	SUNCLAYLTD	</option>
<option>	SUNDARAM	</option>
<option>	SUNDARMFIN	</option>
<option>	SUNDRMBRAK	</option>
<option>	SUNDRMFAST	</option>
<option>	SUNFLAG	</option>
<option>	SUNILHITEC	</option>
<option>	SUNPHARMA	</option>
<option>	SUNTECK	</option>
<option>	SUNTV	</option>
<option>	SUPERHOUSE	</option>
<option>	SUPERSPIN	</option>
<option>	SUPPETRO	</option>
<option>	SUPRAJIT	</option>
<option>	SUPREMEIND	</option>
<option>	SUPREMEINF	</option>
<option>	SUPREMETEX	</option>
<option>	SURANACORP	</option>
<option>	SURANAIND	</option>
<option>	SURANASOL	</option>
<option>	SURANAT&P	</option>
<option>	SURYAJYOTI	</option>
<option>	SURYALAXMI	</option>
<option>	SURYAROSNI	</option>
<option>	SUTLEJTEX	</option>
<option>	SUVEN	</option>
<option>	SUZLON	</option>
<option>	SVOGL	</option>
<option>	SWANENERGY	</option>
<option>	SWARAJENG	</option>
<option>	SWELECTES	</option>
<option>	SYMPHONY	</option>
<option>	SYNCOM	</option>
<option>	SYNDIBANK	</option>
<option>	SYNGENE	</option>
<option>	TAINWALCHM	</option>
<option>	TAJGVK	</option>
<option>	TAKE	</option>
<option>	TALBROAUTO	</option>
<option>	TALWALKARS	</option>
<option>	TANLA	</option>
<option>	TANTIACONS	</option>
<option>	TARAJEWELS	</option>
<option>	TARAPUR	</option>
<option>	TARMAT	</option>
<option>	TATACHEM	</option>
<option>	TATACHEM	</option>
<option>	TATACOFFEE	</option>
<option>	TATACOMM	</option>
<option>	TATAELXSI	</option>
<option>	TATAGLOBAL	</option>
<option>	TATAINVEST	</option>
<option>	TATAMETALI	</option>
<option>	TATAMOTORS	</option>
<option>	TATAMTRDVR	</option>
<option>	TATAPOWER	</option>
<option>	TATASPONGE	</option>
<option>	TATASTEEL	</option>
<option>	TBZ	</option>
<option>	TCI	</option>
<option>	TCIDEVELOP	</option>
<option>	TCIFINANCE	</option>
<option>	TCS	</option>
<option>	TDPOWERSYS	</option>
<option>	TEAMLEASE	</option>
<option>	TECHIN	</option>
<option>	TECHM	</option>
<option>	TECHNO	</option>
<option>	TECHNOFAB	</option>
<option>	TEXINFRA	</option>
<option>	TEXMOPIPES	</option>
<option>	TEXRAIL	</option>
<option>	TFCILTD	</option>
<option>	TFL	</option>
<option>	TGBHOTELS	</option>
<option>	THANGAMAYL	</option>
<option>	THEMISMED	</option>
<option>	THERMAX	</option>
<option>	THIRUSUGAR	</option>
<option>	THOMASCOOK	</option>
<option>	THOMASCOTT	</option>
<option>	THYROCARE	</option>
<option>	TI	</option>
<option>	TIDEWATER	</option>
<option>	TIIL	</option>
<option>	TIJARIA	</option>
<option>	TIL	</option>
<option>	TIMESGTY	</option>
<option>	TIMETECHNO	</option>
<option>	TIMKEN	</option>
<option>	TINPLATE	</option>
<option>	TIPSINDLTD	</option>
<option>	TIRUMALCHM	</option>
<option>	TITAN	</option>
<option>	TNPETRO	</option>
<option>	TNPL	</option>
<option>	TNTELE	</option>
<option>	TODAYS	</option>
<option>	TOKYOPLAST	</option>
<option>	TORNTPHARM	</option>
<option>	TORNTPOWER	</option>
<option>	TPLPLASTEH	</option>
<option>	TREEHOUSE	</option>
<option>	TRENT	</option>
<option>	TRF	</option>
<option>	TRICOM	</option>
<option>	TRIDENT	</option>
<option>	TRIGYN	</option>
<option>	TRIL	</option>
<option>	TRITURBINE	</option>
<option>	TRIVENI	</option>
<option>	TTKHLTCARE	</option>
<option>	TTKPRESTIG	</option>
<option>	TTL	</option>
<option>	TTML	</option>
<option>	TUBEINVEST	</option>
<option>	TULSI	</option>
<option>	TV18BRDCST	</option>
<option>	TVSELECT	</option>
<option>	TVSMOTOR	</option>
<option>	TVSSRICHAK	</option>
<option>	TVTODAY	</option>
<option>	TWL	</option>
<option>	UBHOLDINGS	</option>
<option>	UBL	</option>
<option>	UCALFUEL	</option>
<option>	UCOBANK	</option>
<option>	UFLEX	</option>
<option>	UFO	</option>
<option>	UGARSUGAR	</option>
<option>	UJAAS	</option>
<option>	UJJIVAN	</option>
<option>	UJJIVAN	</option>
<option>	ULTRACEMCO	</option>
<option>	UMANGDAIRY	</option>
<option>	UMESLTD	</option>
<option>	UNICHEMLAB	</option>
<option>	UNIENTER	</option>
<option>	UNIONBANK	</option>
<option>	UNIPLY	</option>
<option>	UNITECH	</option>
<option>	UNITEDBNK	</option>
<option>	UNITEDTEA	</option>
<option>	UNITY	</option>
<option>	UNIVCABLES	</option>
<option>	UPERGANGES	</option>
<option>	UPL	</option>
<option>	USHAMART	</option>
<option>	USHERAGRO	</option>
<option>	UTTAMSTL	</option>
<option>	UTTAMSUGAR	</option>
<option>	UVSL	</option>
<option>	V2RETAIL	</option>
<option>	VADILALIND	</option>
<option>	VAIBHAVGBL	</option>
<option>	VAKRANGEE	</option>
<option>	VALECHAENG	</option>
<option>	VALUEIND	</option>
<option>	VARDHACRLC	</option>
<option>	VARDMNPOLY	</option>
<option>	VASCONEQ	</option>
<option>	VASWANI	</option>
<option>	VEDL	</option>
<option>	VENKEYS	</option>
<option>	VENUSREM	</option>
<option>	VESUVIUS	</option>
<option>	VETO	</option>
<option>	VGUARD	</option>
<option>	VHL	</option>
<option>	VICEROY	</option>
<option>	VIDEOIND	</option>
<option>	VIDHIDYE	</option>
<option>	VIJAYABANK	</option>
<option>	VIJIFIN	</option>
<option>	VIJSHAN	</option>
<option>	VIKASECO	</option>
<option>	VIMALOIL	</option>
<option>	VIMTALABS	</option>
<option>	VINATIORGA	</option>
<option>	VINDHYATEL	</option>
<option>	VINYLINDIA	</option>
<option>	VIPIND	</option>
<option>	VIPULLTD	</option>
<option>	VISAKAIND	</option>
<option>	VISASTEEL	</option>
<option>	VISESHINFO	</option>
<option>	VISHNU	</option>
<option>	VISUINTL	</option>
<option>	VIVIDHA	</option>
<option>	VIVIMEDLAB	</option>
<option>	VKSPL	</option>
<option>	VLSFINANCE	</option>
<option>	VMART	</option>
<option>	VOLTAMP	</option>
<option>	VOLTAMP	</option>
<option>	VOLTAS	</option>
<option>	VRLLOG	</option>
<option>	VSSL	</option>
<option>	VSTIND	</option>
<option>	VSTTILLERS	</option>
<option>	VTL	</option>
<option>	WABAG	</option>
<option>	WABCOINDIA	</option>
<option>	WALCHANNAG	</option>
<option>	WANBURY	</option>
<option>	WEBELSOLAR	</option>
<option>	WEIZFOREX	</option>
<option>	WEIZMANIND	</option>
<option>	WELCORP	</option>
<option>	WELENT	</option>
<option>	WELINV	</option>
<option>	WELSPUNIND	</option>
<option>	WENDT	</option>
<option>	WHEELS	</option>
<option>	WHIRLPOOL	</option>
<option>	WILLAMAGOR	</option>
<option>	WINDMACHIN	</option>
<option>	WINSOME	</option>
<option>	WIPRO	</option>
<option>	WOCKPHARMA	</option>
<option>	WONDERLA	</option>
<option>	WSI	</option>
<option>	WSTCSTPAPR	</option>
<option>	XCHANGING	</option>
<option>	XLENERGY	</option>
<option>	XPROINDIA	</option>
<option>	YESBANK	</option>
<option>	ZANDUREALT	</option>
<option>	ZEEL	</option>
<option>	ZEELEARN	</option>
<option>	ZEEMEDIA	</option>
<option>	ZENITHBIR	</option>
<option>	ZENITHEXPO	</option>
<option>	ZENSARTECH	</option>
<option>	ZENTEC	</option>
<option>	ZICOM	</option>
<option>	ZODIACLOTH	</option>
<option>	ZODJRDMKJ	</option>
<option>	ZUARI	</option>
<option>	ZUARIGLOB	</option>
<option>	ZYDUSWELL	</option>
<option>	ZYLOG	</option>

								</select>
								<br>
								Prediction Period:
								<select> 
									<option> 
									Daily
									</option>
									<option> 
									Weekly
									</option>
									<option> 
									Monthly
									</option>
							</select>
							<br>
						<button type="button" onclick= "foo('equity')" id = "equity_predictions">Get Prediction</button> 
						
						<div id = "decision">Results here. </div>
						
							</section>
						
						</div>
						<div class="4u 12u(mobile)">

							<section>
								<h2>Prediction History</h2>
								<!-- <ul class="small-image-list">
									<li>
										<a href="#"><img src="images/pic2.jpg" alt="" class="left" /></a>
										<h4>Jane Anderson</h4>
										<p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo facilisis amet quis.</p>
									</li>
									<li>
										<a href="#"><img src="images/pic1.jpg" alt="" class="left" /></a>
										<h4>James Doe</h4>
										<p>Vitae magna eget odio amet mollis justo facilisis amet quis. Sed sagittis consequat.</p>
									</li>
								</ul> -->
							</section>

							<section>
								<!-- <h2>How about some links?</h2> -->
								<!-- <div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Suspendisse varius ipsum</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Vitae magna sed dolore</a></li>
											</ul>
										</div>
									</div>
								</div> -->
							</section>

						</div>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u 12u(mobile)">
						<section>
							<!-- 	<h2>How about a truckload of links?</h2>
								<div>
									<div class="row">
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Suspendisse varius ipsum</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
											</ul>
										</div>
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Vitae magna sed dolore</a></li>
											</ul>
										</div>
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Suspendisse varius ipsum</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
											</ul>
										</div>
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Vitae magna sed dolore</a></li>
											</ul>
										</div>
									</div>
								</div>
							</section>

						</div>
						<div class="4u 12u(mobile)">

							<section>
								<h2>Something of interest</h2>
								<p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
								Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
								mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
								lorem ipsum dolor sit amet consequat blandit.</p>
								<footer class="controls">
									<a href="#" class="button">Oh, please continue ....</a>
								</footer> 
								-->
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<div id="copyright">
								&copy; StockAssist | All Rights Reserved.
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>