<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Stock Assist - Equity Prediction & Info.</title>
		<meta charset="utf-8" />
		{% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/assets/css/ie9.css" /><![endif]-->
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/buttonClickJS.js"></script>
	</head>
	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<header id="header">
								<h1><a href="#" id="logo">Stock Assist</a></h1>
								<nav id="nav">
									<a href="index_1.html" style= "background-image:url(images/home.jpg); background-size : 100px 85px" >HOME</a>
									<a href="equity.jsp" style ="background-image:url(images/equity.jpg); background-size : 70px 70px">EQUITY</a>
									<a href="#" class="current-page-item" style ="background-image:url(images/derivative.jpg); background-size : 70px 70px">DERIVATIVES</a>
									<a href="#" style ="background-image:url(images/commodities.jpg); background-size : 80px 80px">COMMODITIES</a>
									<a href="#" style ="background-image:url(images/portfolio.jpg);background-size :140px 100px; background-repeat: no-repeat">PORTFOLIO</a>
									
									<a href="more.html" style ="background-image:url(images/more.jpg); background-size : 100px 85px">MORE</a>
												<!--  MORE -->
									
								<!-- 	<a href="twocolumn1.html">CURRENCY</a>
									<a href="twocolumn1.html">EDUCATION</a>
									<a href="twocolumn1.html">TAX GURU</a>
									<a href="twocolumn1.html">SUBSCRIBE</a>
									<a href="twocolumn1.html">CONTACT US</a>
									<a href="twocolumn1.html">ABOUT US</a>
									<a href="twocolumn1.html">DISCLAIMER</a>
									<a href="twocolumn1.html">LONG TERM(ASTROMONEY)</a> -->
									
									
									
									<!-- <a href="twocolumn2.html">Two Column #2</a> -->
									<!-- <a href="onecolumn.html">One Column</a>
									<a href="threecolumn.html">Three Column</a> -->
								</nav>
							</header>

						</div>
					</div>
				</div>
			</div>
			<div id="main">
				<div class="container">
					<div class="row main-row">
						<div class="8u 12u(mobile)">

							<section class="left-content">
							<!-- 	<h2>Two Column #1 (right-hand sidebar)</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ante ante, viverra a ornare sed, convallis sed est. Proin felis sapien, adipiscing quis eleifend vel, sodales vitae sapien. Donec vel lacus leo, eu convallis metus. Cras egestas feugiat tortor, vitae interdum augue aliquam a. Sed nec augue id orci egestas commodo in eget magna. Nunc eleifend diam non odio laoreet placerat gravida nulla bibendum. Phasellus tempus imperdiet suscipit.</p>
								<p>Mauris risus nulla, pulvinar vitae sagittis a, pharetra nec tellus. Suspendisse varius enim ac felis mattis aliquam. Aenean et justo quis ipsum gravida lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia bibendum cursus. Nullam nec pellentesque lacus. In porta erat in tortor rhoncus quis accumsan magna pretium. Nulla posuere magna eget mauris lacinia in mollis sem fermentum. Donec mollis adipiscing mauris, ut posuere enim rhoncus ut. Nunc commodo vestibulum orci vel placerat. Cras sed risus libero. Donec ac lacus vitae lectus mattis commodo id vitae libero. Etiam lorem odio, volutpat nec pulvinar sit amet, tincidunt ut lacus. Pellentesque consequat arcu vel nisi lobortis in pellentesque orci sollicitudin. Cras gravida lacus turpis, consectetur porttitor lectus. Cras malesuada tortor id neque porta ut semper quam iaculis.</p>
								<p>Nulla ut tortor quam, a luctus nunc. Nulla condimentum diam porttitor arcu placerat tincidunt. Nunc non augue ipsum. Nulla facilisi. Phasellus feugiat augue in ipsum egestas semper. Suspendisse blandit, nisl ullamcorper blandit sollicitudin, sem leo auctor lectus, et volutpat mauris elit et odio. Ut elementum risus in metus mollis tristique vulputate nulla interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae orci dui, ut facilisis dui.</p>
							 -->

							<!--  NSE	 -->
								<!--Index: -->
								<!--<select id ="select_derivatives"> -->
									<!--<option> -->
									<!--Nifty 50-->
									<!--</option>-->
									<!--<option> -->
									<!--BANK NIFTY-->
									<!--</option>-->
									<!--<option> -->
									<!--NIFTY IT-->
									<!--</option>-->
								<!--</select>-->
								<!--<br>-->
								<!--Prediction Period:-->
								<!--<select> -->
									<!--<option> -->
									<!--Daily-->
									<!--</option>-->
									<!--<option> -->
									<!--Weekly-->
									<!--</option>-->
									<!--<option> -->
									<!--Monthly-->
									<!--</option>-->
							<!--</select>-->
							<!--<br>-->
						<!--<button type="button" onclick= "foo('derivative')" id = "equity_predictions">Get Prediction</button>-->
						<!---->
						<!--<div id = "decision">Results here. </div>-->
					<style type="text/css">
	table.tableizer-table {
		font-size: 10px;
		border: 1px solid #CCC;
		font-family: Arial, Helvetica, sans-serif;
	}
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B;
		color: #FFF;
		font-weight: bold;
	}
</style>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>DATE</th><th>SYMB</th><th>PRED</th><th>T1</th><th>T2</th><th>T3</th><th>SL</th><th>&nbsp;</th><th>O</th><th>H</th><th>L</th><th>C</th><th>ACC</th></tr></thead><tbody>
 <tr><td>20/09/2016</td><td>NIFTY-I</td><td>BUY</td><td>8845.73</td><td>8859.35</td><td>8871.03</td><td>8804.85</td><td>&nbsp;</td><td>8806.65</td><td>8820</td><td>8786.1</td><td>8807.2</td><td>No Target</td></tr>
 <tr><td>21/09/2016</td><td>NIFTY-I</td><td>SELL</td><td>8797.88</td><td>8788.56</td><td>8780.75</td><td>8825.85</td><td>&nbsp;</td><td>8814</td><td>8856.6</td><td>8784.9</td><td>8806.95</td><td>SL Hit</td></tr>
 <tr><td>22/09/2016</td><td>NIFTY-I</td><td>SELL</td><td>8826.67</td><td>8846.39</td><td>8863.29</td><td>8806.95</td><td>&nbsp;</td><td>8880.25</td><td>8918</td><td>8861.05</td><td>8884.45</td><td>ALL</td></tr>
<tr><td>23/09/2016</td><td>NIFTY-I</td><td>SELL</td><td>8868.79</td><td>8853.13</td><td>8840.02</td><td>8884.45</td><td>&nbsp;</td><td>8885.25</td><td>8889.35</td><td>8830.10</td><td>8884.65</td><td>ALL</td></tr>
</tbody></table>


						</section>

                        </div>

						<div class="4u 12u(mobile)">

							<section>
								<h2>Prediction History</h2>
								<!-- <ul class="small-image-list">
									<li>
										<a href="#"><img src="images/pic2.jpg" alt="" class="left" /></a>
										<h4>Jane Anderson</h4>
										<p>Varius nibh. Suspendisse vitae magna eget et amet mollis justo facilisis amet quis.</p>
									</li>
									<li>
										<a href="#"><img src="images/pic1.jpg" alt="" class="left" /></a>
										<h4>James Doe</h4>
										<p>Vitae magna eget odio amet mollis justo facilisis amet quis. Sed sagittis consequat.</p>
									</li>
								</ul> -->
							</section>

							<section>
								<!-- <h2>How about some links?</h2> -->
								<!-- <div>
									<div class="row">
										<div class="6u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Suspendisse varius ipsum</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
											</ul>
										</div>
										<div class="6u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Vitae magna sed dolore</a></li>
											</ul>
										</div>
									</div>
								</div> -->
							</section>

						</div>
					</div>
				</div>
			</div>
			<div id="footer-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u 12u(mobile)">
						<section>
							<!-- 	<h2>How about a truckload of links?</h2>
								<div>
									<div class="row">
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Suspendisse varius ipsum</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
											</ul>
										</div>
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Vitae magna sed dolore</a></li>
											</ul>
										</div>
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Suspendisse varius ipsum</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
											</ul>
										</div>
										<div class="3u 12u(mobile)">
											<ul class="link-list">
												<li><a href="#">Quis accumsan lorem</a></li>
												<li><a href="#">Sed neque nisi consequat</a></li>
												<li><a href="#">Eget et amet consequat</a></li>
												<li><a href="#">Dapibus sed mattis blandit</a></li>
												<li><a href="#">Vitae magna sed dolore</a></li>
											</ul>
										</div>
									</div>
								</div>
							</section>

						</div>
						<div class="4u 12u(mobile)">

							<section>
								<h2>Something of interest</h2>
								<p>Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
								Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet
								mollis justo facilisis quis. Sed sagittis mauris amet tellus gravida
								lorem ipsum dolor sit amet consequat blandit.</p>
								<footer class="controls">
									<a href="#" class="button">Oh, please continue ....</a>
								</footer> 
								-->
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<div id="copyright">
								&copy; StockAssist | All Rights Reserved.
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/skel-viewport.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>