<%@page import="org.jsoup.Jsoup"%>
<%@page import="java.io.IOException"%>
<%@page import="org.jsoup.nodes.Element"%>
<%@page import="org.jsoup.select.Elements"%>
<%@page import="org.jsoup.nodes.Document"%>
<%@page import="java.io.FileWriter"%>
<%@page import="org.apache.commons.io.IOUtils"%>
<%@page import="java.io.InputStream"%>
<%@page import="java.net.URLConnection"%>
<%@page import="java.net.URL"%>
<%@page import="com.tradr.core.StockFactory"%>
<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<%

/* BrowserEngine browser = BrowserFactory.getWebKit();
// navigate to blank page
Page page1 = browser.navigate("about:blank");

// show the browser page
page1.show();

// append html header to the document body
page1.getDocument().getBody().append("<h1>Hello, World!</h1>"); */

try {
	
	URL url = new URL("http://www.example.com/");
	URLConnection con = url.openConnection();
	InputStream in = con.getInputStream();
	String encoding = con.getContentEncoding();
	encoding = encoding == null ? "UTF-8" : encoding;
	String body = IOUtils.toString(in, encoding);
	System.out.println(body);
    FileWriter writer = new FileWriter("csv.txt");

    Document doc = Jsoup.parseBodyFragment(body);
    Elements rows = doc.getElementsByTag("tr");

    for (Element row : rows) {
        Elements cells = row.getElementsByTag("td");
        for (Element cell : cells) {
            writer.write(cell.text().concat(", "));
        }
        writer.write("\n");
    }
    writer.close();
} catch (IOException e) {
    e.printStackTrace();
}


%>
</body>
</html>